@keyframes new-property {
  0%   {
    opacity: 0;
    transform: scale(0.75);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.properties__item {
  flex: 1 0 100%;
  margin-bottom: 2rem;
  animation: new-property 0.2s;
}

.properties__wrapper {
  background-color: #FFFFFF;
  padding: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 0.25rem;
}

.properties__text,
.properties__input {
  padding: 0.25rem;
  font-weight: bold;
  display: block;
  width: 100%;
  color: rgba(0,0,0,0.6);
  border-radius: 0.25rem;
  letter-spacing: 0;
  line-height: 1.25;
}

.properties__text {
  border: 1px solid transparent;
}

.properties__input {
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.properties__title {
  font-size: 1.25rem;
  margin: 0 0 0.25rem;
}

.properties__url {
  font-size: 1rem;
  margin: 0 0 0.75rem;
}

.properties__button {
  background-color: #1d96f4;
  border: none;
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
  font-size: 0.75rem;
  margin-right: 0.5rem;
  color: #FFFFFF;
  cursor: pointer;
  transition: opacity 0.1s linear;
}

.properties__button:hover {
  opacity: 0.8;
}

@media (min-width: 500px) {
  .properties__item {
    flex: 1 1 50%;
    max-width: 50%;
  }

  .properties__item:nth-child(odd) {
    padding-right: 1rem;
  }

  .properties__item:nth-child(even) {
    padding-left: 1rem;
  }
}
