html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: rgba(0, 0, 0, 0.1);
}

.app {
  max-width: 600px;
  margin: 0 auto;
  padding: 3rem 1rem;
}

.app__title {
  margin: 0 0 4rem;
}
