html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.7);
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.screen-reader {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
}
