.add-form {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

.add-form__input-wrapper {
  position: relative;
  flex: 1 0 100%;
  margin: 0 0 2rem;
}

.add-form__label {
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%) scale(1);
  transition: all 0.2s ease-in-out;
  color: rgba(0, 0, 0, 0.4);
}

.add-form__input {
  padding: 0.5rem;
  font-size: 1rem;
  width: 100%;
  border-radius: 0.25rem;
  color: rgba(0,0,0,0.7);
  border: 1px solid rgba(0, 0, 0, 0.3);
  transition: opacity 0.1s linear;
}

.add-form__input:valid + .add-form__label,
.add-form__input:focus + .add-form__label,
.add-form__input:disabled + .add-form__label {
  transform: translateY(-2.5rem) scale(0.9);
  color: rgba(0, 0, 0, 0.6);
}

.add-form__submit {
  flex: 1 0 100%;
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 0.25rem;
  background-color: #1d96f4;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
  transition: opacity 0.1s linear;
}

.add-form__submit:hover {
  opacity: 0.8;
}

@media (min-width: 500px) {
  .add-form {
    flex-wrap: nowrap;
  }

  .add-form__input-wrapper {
    flex: 1 1 40%;
    margin: 0;
    padding-right: 0.25rem;
  }

  .add-form__submit {
    flex: 1 1 20%;
  }
}
